@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  font-family: Arial, Helvetica, sans-serif;
}

.title{
  font-weight: bold;
  font-size: 24px;
}

.text{
  font-size: 16px;
  color: #333;
}

.btn{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: oklch(72.3% 0.219 149.579);
  transition: background-color 0.2s ease-in-out;
}

.btn:hover{
  background-color: oklch(62.7% 0.194 149.214);
}